body {
    font-size: 0px;
    line-height: 0px;
    color: #fff;
    font-weight: normal;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-color: #849d8f;
}

h1 {
    font-size: 35px;
    line-height: 41px;
    color: #fff;
}

.hidden {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: normal;       
}

.main-header {
    margin-top: 23px;
}

.main-navigation {
    float: left;
    width: 675px;    
    margin-right: 26px;    
}

.logo {
    float: left;
    width: 154px;
}

.main-menu {
    list-style: none;
    margin:0;
    padding: 0;   
}

.main-menu > li {
    display: inline-block;
    padding: 9px  14px 11px 14px;
    position: relative;    
}

.main-menu > li > a {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 14px;    
    border-radius: 15px;
    text-decoration: none;    
}

.main-menu > li > a:hover {
    background-color: #f7f6f3;
    color: #333;
}

.main-menu .current {
    padding: 7px 14px;
    background-color: #d07058;
    border-radius: 15px;
    text-decoration: none;    
}

.main-menu .sub-menu {
    list-style: none;
    margin:0;
    padding: 0;
    background-color: #f8f7f4;
    position: absolute;
    width: 143px;
    display: none;
    z-index: 30;
    top: 40px;
    left: 15px;
    border-radius: 5px;
}

.main-new {
    position: relative;
}

.main-new:after {
    position: absolute;
    content: "";
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
    top:100%;
    left: 7px;
      
}

.main-menu .sub-menu a {
    display: block;    
    padding: 10px 0px 13px 21px;    
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.main-menu .sub-menu a:hover {
    background-color: #fbded7;
}

.user-block {
    float: right;
    min-width: 267px;
}

.user-block a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;    
}

.search {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    border-radius: 15px;
    background: #9db1a5 url(../img/icon-search.svg) no-repeat 8px ;
}

.search:hover {
    background: #f8f7f4 url(../img/icon-search-active.svg) no-repeat 8px;
}

.entrance,.shopping-cart {
    display: inline-block;
    vertical-align: top;
    padding: 7px 16px 7px 45px;
    background-color: #9db1a5;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;     
}

.entrance:hover {
    color: #323232;
      background: #f8f7f4 url(../img/icon-entrance-hover.svg) no-repeat 15px ; 
}

.entrance {
   background: #9db1a5 url(../img/icon-entrance.svg) no-repeat 15px ; 
}

.shopping-cart {
    background: #9db1a5 url(../img/icon-shopping-cart-empty.svg) no-repeat 15px;
}

.shopping-cart:hover {
    color: #323232;
    background: #f8f7f4 url(../img/icon-shopping-cart-full.png) no-repeat 15px;;
}

.hours-phone {
    float: right;
    width: 267px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.hours {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
}

.index-slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #fff;    
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60.35px;
}

.slide-btn {
    display: inline-block;
    padding: 12px 41px;
    font-size: 32px;
    line-height: 44px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    background-color: #ed5a3d;
    border-radius: 100px; 
    margin-bottom: 40px;
}

.slide-btn:hover {
    background-color: #ed7360;    
}

.slide-btn:active {
    background-color: #da4e36;
}

.slider-controls {
    position: absolute;
    bottom: 25px;
    left:0;
    z-index:20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: #b2c1b7;
    
}

#btn-1:checked ~ .wrap #slide1,
#btn-2:checked ~ .wrap #slide2,
#btn-3:checked ~ .wrap #slide3 {
    display: block;
}

#btn-1:checked ~ .wrap .index-slider {    
    background: #849d8f url(../img/slide1.png) 300px 0 no-repeat;
}

#btn-2:checked ~ .wrap .index-slider {
    background: #8996a6 url(../img/slide2.png) 300px 0 no-repeat;
}

#btn-3:checked ~ .wrap .index-slider {
    background: #9d8b84 url(../img/slide3.png) 300px 0 no-repeat;
}

#btn-1:checked ~ .wrap {    
    background: #849d8f;
}

#btn-2:checked ~ .wrap  {
    background: #8996a6;
}

#btn-3:checked ~ .wrap  {
    background: #9d8b84;
}

#btn-1:checked ~ .wrap label[for="btn-1"],
#btn-2:checked ~ .wrap label[for="btn-2"],
#btn-3:checked ~ .wrap label[for="btn-3"] {
    background-color: #fff;
}

.breadcrumbs {
    width: 267px; 
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
    line-height: 16px;    
}

.breadcrumbs a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;   
}

.all-filters {
    width: 879px;
    margin-bottom: 40px;
}

.sorting {
    display: inline-block;    
    width: 193px;
    margin-right: 15px;
    color: #fff; 
}

.sorting-select {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #9db1a5;
    color: #fff;
    font-size: 16px;
    line-height: 18px;  
}

.sorting-select:hover {
    background-color: #fff;
    color: #323232;
}

.range-filter {
    display: inline-block;    
    width: 219px;
    margin-right: 15px;
}

.fat-filter {
    display: inline-block;
    color: #fff;   
   
}

.filter-radio {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #9db1a5;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

.filter-radio:hover {
    background-color: #fff;
    color: #323232;
}

.filter-radio ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-radio ul li {
    display: inline-block;
    margin-right: 19px;
    
}

.filter-fillers {
    display: inline-block;
    margin-right: 14px;
    color: #fff; 
}

.filter-fillers ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #9db1a5;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

.filter-fillers ul:hover {
    background-color: #fff;
    color: #323232;
}

.filter-fillers ul li {
    display: inline-block;
    padding-right: 20px;
}

.filter-btn {
    padding: 6px 16px;
    border-radius: 20px;
    background-color: #9db1a5;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    border: 2px solid #fcfcfc;
}

.filter-btn:hover {
    background-color: #fff;
    color: #323232;
}

.catalog-ice-cream {
    width: 1146px;
    margin-bottom: 80px;
}

.ice-cream {
    width: 267px;
    float: left;
    margin-right: 21px;
    vertical-align: top;
    margin-bottom: 40px;
    position: relative;
}

.ice-cream:hover {
    background-color: #9db1a5;
}

.ice-cream:nth-child(4n) {
    margin-right: 0px;
}

.ice-cream a {
    color:#fff;
    font-size: 16px;
    line-height: 22px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.promo {
    width: 1146px;
    font-size: 0px;
    margin-bottom: 40px;    
}

.raspberry { 
    float: left;
    width: 520px;
    min-height: 173px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-image: url(../img/background-discount-raspberry.jpg);
    border-radius:15px;    
    padding: 20px;    
}

.promo h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
}

.promo p {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
}

.chocolate {    
    width: 520px;
    min-height: 173px;
    float: right;
    font-size: 18px;
    line-height: 22px;
    color: #fff;        
    background-image: url(../img/background-discount-chocolate.jpg);
    border-radius: 15px;     
    padding: 20px;   
}

.btn-promo {
    margin: 0;
    padding: 10px 22px;
    background-color: #f06541;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    float: right;
}

.btn-promo:hover {
    background-color: #f48568;
}

.hit-menu {
    width: 1146px;
    margin-bottom: 40px;
}



.icon-hit {
    display: block;
    position: absolute;
    background: #fff url('../img/icon-hit.png');
    width: 60px;
    height: 60px;
    border-radius: 100%;
    
}

.ice-cream img {
    border-radius: 50%;
}

.price {
    position: absolute;
    top: 216px;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
}

.ruble {
    font-size: 45px;
    padding-right: 35px;
    background: url(../img/icon-ruble.svg) 80px 9px no-repeat;
}

.advantages {
    width: 1125px;
    margin-bottom: 40px;
    background: #ece0c5 url(../img/Background-advantages.png) repeat;
    border-radius:15px;    
    padding: 20px;    
    font-size: 16px;
    line-height: 22px;  
}
 
.advantages h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px; 
    color: #323232;
}

.advantages p {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.advantage-item {
    width: 540px;
    float:right;
    vertical-align: top;    
}

.advantage-item:nth-child(1),.advantage-item:nth-child(3) {
    margin-right: 26px;
    float: left;
}

.advantage-item p {
    padding-left: 56px;
}

.advantage-item .icon {
    width: 47px;
    height: 47px;
    position: absolute; 
}

.advantage-item .ice-cream {
background: url(../img/icon-ice-cream.svg) no-repeat;
}

.advantage-item .cow {
background: url(../img/icon-cow.svg) no-repeat;
}

.advantage-item .sheet {
background: url(../img/icon-sheet.svg) no-repeat;
}

.advantage-item .thermometer {
background: url(../img/icon-thermometer.svg) no-repeat;
}

.news-subscribe {
    width: 1146px;
    margin-bottom: 40px;
}

.news-subscribe .side-left {
    width: 520px;
    min-height: 166px;
    float:left;    
    padding: 27px 20px;    
    font-size: 16px;
    line-height: 22px;
    background: #fff url(../img/background-news-side-left-10-ways-of-serving.jpg) no-repeat;
    border-radius:15px; 
}

.news-subscribe .side-left h4 {
    margin: 0;
    padding: 0;
}

.news-subscribe .side-left a {
    font-size: 24px;
    line-height: 30px;
    color:#323232;
}

.news-subscribe .side-right {
    width: 500px;
    min-height: 140px;
    float: right;
    border-radius:15px;    
    padding: 35px 25px;    
    font-size: 16px;
    line-height: 22px;
    background: #f8f7f4;  

}

.email-text {
    padding: 15px;
    width: 330px;
    float: left;
    border-radius: 5px;
}

.email-btn {
    padding: 12px 18px;
    background-color: #f06541;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    float: right;
    font-size: 18px;
    line-height: 24px;
}
    
.paginator {
    float: right;
    min-width: 190px;
    margin-bottom: 30px;
}

.paginator a {
    text-decoration: none;    
    display: inline-block;    
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    height: 26px;
    width: 26px;
    border-radius: 100%;    
    text-align: center;
    margin-right: 4px;
}

.paginator a:hover {
    background-color: #9db1a5;
}

.paginator .current {
    background-color: #fff;
    color: #323232; 

}

.disabled {
    opacity: 0.2;
}

.paginator .prev {
    text-indent: -10000px;
    margin-right: 15px;    
    position: relative;
}

.paginator .next {
    text-indent: -10000px;
    margin-right: 15px;    
    position: relative;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: "";    
    left: 1px;
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    left:7px;
}

.prev::before,
.next::before {
   transform: rotate(-45deg);
    top:9px;
}

.next::before {
   transform: rotate(225deg);
    top:9px;
}

.prev::after,
.next::after {
   transform: rotate(45deg);
   top: 15px;  
       
}

.next::after {
   transform: rotate(-225deg);
   top: 15px;  
       
}

.map {
    width: 100%;
    height: 430px;
    background:#d9d3ba url(../img/map.jpg) no-repeat;
}

.contacts {
    float: right;
    width: 275px;
    height: 252px;
    background-color: #fffffe;
    border-radius: 20px;
    padding: 27px;
    margin-top: 62px;    
}

.contacts p {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts .adress {
    font-size: 18px;
    line-height: 24px;
}

.contacts .phone {
    font-size: 18px;
    line-height: 22px;
}

.feedback-form {   
    padding: 12px 22px;
    background-color: #f06541;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    
}

.footer-social {
    width: 267px;    
    margin-left: 27px;
    margin-right: 133px;
    float:left;
}

.footer-social .btn-social {
    display: inline-block;
    min-height: 31px;
    min-width: 31px;    
    border: 3px solid #c2cec7;
    border-radius: 100%;       
    opacity: 0.7;    
}

.footer-social .btn-social:hover {
    opacity: 1.0;
}

.btn-social {
    text-indent: -1000px;
}

.btn-social-twitter {
    background: url(../img/social-twitter.svg)  no-repeat; 
}

.btn-social-inst {
    background: url(../img/social-inst.svg)  no-repeat; 
}

.btn-social-fb {
    background: url(../img/social-fb.svg)  no-repeat; 
}

.btn-social-vk {
    background: url(../img/social-vk.svg)  no-repeat; 
}

.main-footer {
    margin-top: 20px;
}

.footer-documentation {    
    width: 453px;    
    margin-right: 26px;
    float: left;
    display: relative; 
}

.footer-documentation a { 
    color: #fff;
    font-size: 13px;
    line-height: 18px;    
    float:left;
    width: 293px;
    margin-left: -4px;    
}

.footer-documentation a:nth-child(2n) {
    padding-left: 22px;
    width: 138px;
    
}

.footer-documentation .icon-heart {
    width: 15px;
    height: 13px;
    position: absolute;    
    background: url(../img/icon-heart.svg) no-repeat;
}

.footer-copyright {
    width: 267px;       
    margin-right: 27px;    
    float: right;
}

.footer-copyright .html-academy {
    padding-left: 78px;
    padding-right: 80px;
}

.footer-copyright .made {
    padding-left: 77px;    
}    


.footer-copyright a,.footer-copyright {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.modal-content-entrance {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: 170px;
    width: 280px;
    background-color: #f8f7f4;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
}

.login-email, .password {
    width: 238px;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding: 14px;
    
}

.btn-entrance {
    background-color: #f16642;
    border-radius: 25px;
    padding: 10px 25px;
    color: #fefefe;
    margin-right: 20px;
    float: left;
}

.modal-content-entrance a {
    font-size: 14px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
    float: left;
}

.modal-content-feedback {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 430px;
    top:338px;
    left: 50%;
    padding: 25px;
    margin-left: -240px;
    font-size: 16px;
    line-height: 24px;
    background-color: #f8f7f4;
    border-radius: 5px;    
}

.modal-feedback-close {
    position: absolute;
    top: 15px;
    right: 15px; 
    width: 18px;    
    height: 17px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-feedback-close::before,
.modal-feedback-close::after{
    content: "";
    top:8px;
    left: 1px;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #000000;
}

.modal-feedback-close::before {
    transform: rotate(45deg);
}

.modal-feedback-close::after {
    transform: rotate(-45deg);
}

.modal-content-feedback h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.feedback-name,.feedback-email {
    width: 237px;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.feedback-text {
    width: 398px;
    padding: 14px; 
    min-height: 155px; 
    margin-bottom: 25px;
    border-radius: 5px;
}

.btn-send {
    float: right;
    background-color: #f16642;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}

.modal-content-search {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: 3px;
    width: 310px;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-search {
    width: 282px;
    padding: 10px 13px;
    border-radius: 5px;
}