body {
    font-size: 0px;
    line-height: 0px;
    color: #323232;
    font-weight: normal;
    font-family: "Roboto Regular";
    margin: 0;
    padding: 0;
    background-color: #849d8f;
}

h1 {
    font-size: 35px;
    line-height: 41px;
}

body > input[type="radio"] {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: normal;
    font-family: "Roboto Regular";
    background-image: url("../img/slide1.pgn")
}

.main-navigation {
    float: left;
    width: 675px;    
    margin-right: 26px;    
}

.logo {
    float: left;
    width: 154px;
}

.main-menu {
    list-style: none;
    margin:0;
    padding: 0;   
}

.main-menu > li {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;    
}

.main-menu > li > a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.main-menu .sub-menu {
    list-style: none;
    margin:0;
    padding: 0;
    background-color: #f8f7f4;
    position: absolute;
    width: 143px;
    display: none;
}

.main-menu .sub-menu a {
    display: block;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 13px;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.user-block {
    float: right;
    width: 267px;
}

.user-block a {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;    
}

.search {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    border-radius: 15px;
/*    background-color: #9db1a5;*/
/*    background-image: url(../img/icon-search.svg) no-repeat;*/
    background: #9db1a5 url(../img/icon-search.svg) no-repeat 8px ;
}

.entrance,.shopping-cart {
    display: inline-block;
    vertical-align: top;
    padding: 7px 16px;
    background-color: #9db1a5;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
    
}

.entrance img {
    padding-right: 8px;
    height: 19px;
    width: 20px; 
}

.shopping-cart img {
    padding-right: 8px;
    height: 20px;
    width: 21px; 
}

.hours-phone {
    float: right;
    width: 267px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

.hours {
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
}

.index-slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;    
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60.35px;
}

.slide-btn {
    display: inline-block;
    padding: 12px 41px;
    font-size: 32px;
    line-height: 44px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    background-color: #ed5a3d;
    border-radius: 100px; 
    margin-bottom: 40px;
}

.slide-btn:hover {
    background-color: #ed7360;    
}

.slide-btn:active {
    background-color: #da4e36;
}

.slider-controls {
    position: absolute;
    bottom: 25px;
    left:0;
    z-index:20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .container #slide1,
#btn-2:checked ~ .container #slide2,
#btn-3:checked ~ .container #slide3 {
    display: block;
}

#btn-1:checked ~ .container {    
    background: #849d8f url(../img/slide1.png) no-repeat;
}

#btn-2:checked ~ .container {
    background: #8996a6 url(../img/slide2.png) no-repeat;
}

#btn-3:checked ~ .container {
    background: #9d8b84 url(../img/slide3.png) no-repeat;
}


#btn-1:checked ~ .container label[for="btn-1"],
#btn-2:checked ~ .container label[for="btn-2"],
#btn-3:checked ~ .container label[for="btn-3"] {
    background-color: #ffffff;
}

.breadcrumbs {
    width: 267px; 
    margin-bottom: 15px;    
}

.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline-block;
}

.all-filters {
    width: 879px;
    margin-bottom: 40px;
}

.sorting {
    display: inline-block;
    width: 193px;
    margin-right: 15px;
}

.range-filter {
    display: inline-block;
    width: 219px;
    margin-right: 15px;
}

.fat-filter {
    display: inline-block;
    width: 416px;    
}

.filter-radio ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-radio ul li {
    display: inline-block;
}

.filter-fillers {
    display: inline-block;
    width: 702px;
    margin-right: 14px;
}

.filter-fillers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-fillers ul li {
    display: inline-block;
}

.catalog-ice-cream {
    width: 1146px;
    margin-bottom: 80px;
}

.ice-cream {
    width: 267px;
    display: inline-block;
    margin-right: 21px;
    vertical-align: top;
    margin-bottom: 40px;
}

.ice-cream:nth-child(4n) {
    margin-right: 0px;
}

.ice-cream a {
    color:#ffffff;
    font-size: 16px;
    line-height: 22px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.promo {
    width: 1146px;
    font-size: 0px;
    margin-bottom: 40px;    
        
}

.raspberry { 
    display: inline-block;
    width: 510px;    
    margin-right: 26px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Roboto Regular";
    background-image: url(../img/background-discount-raspberry.jpg);
    border-radius:15px;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.chocolate {    
    width: 510px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Roboto Regular";
    background-image: url(../img/background-discount-chocolate.jpg);
    border-radius: 15px;
    border-radius:15px;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-promo {
    padding: 12px 22px;
    background-color: #f06541;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.hit-menu {
    width: 1146px;
    margin-bottom: 40px;
}

.hit {
    width: 267px;
    margin-right: 21px;
    display: inline-block;
    vertical-align: top;
}

.hit:nth-child(4n) {
    margin-right: 0px;
}

.hit img {
    border-radius: 50%;
}

.ice-cream img {
    border-radius: 50%;
}

.advantages {
    width: 1125px;
    margin-bottom: 40px;
    background: #ece0c5 url(../img/Background-advantages.png) repeat;
    border-radius:15px;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
    
    
}
 
.advantage-item {
    width: 540px;
    display: inline-block;
    vertical-align: top;    
}

.advantage-item:nth-child(1),.advantage-item:nth-child(3) {
    margin-right: 26px; 
}

.advantage-item p {
    padding-left: 56px;
}

.advantage-item .icon {
    width: 47px;
    height: 47px;
    position: absolute; 
}

.advantage-item .ice-cream {
background-image: url(../img/icon-ice-cream.svg)
}

.advantage-item .cow {
background-image: url(../img/icon-cow.svg)
}

.advantage-item .sheet {
background-image: url(../img/icon-sheet.svg)
}

.advantage-item .thermometer {
background-image: url(../img/icon-thermometer.svg)
}

.news-subscribe {
    width: 1146px;
    margin-bottom: 40px;
}

.news-subscribe .side-left {
    width: 539px;
    float:left;
    margin-right: 26px;
    border-radius:15px;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 22px;
}

.news-subscribe .side-right {
    width: 539px;
    float: right;
    border-radius:15px;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
}

.paginator {
    float: right;
    min-width: 190px;
    margin-bottom: 30px;
}

.paginator a {
    text-decoration: none;    
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    margin-right: 4px;
}

.paginator .current {
    background-color: #ffffff;
    color: #323232;    

}

.paginator .prev {
    text-indent: -10000px;
    margin-right: 15px;
}

.paginator .next {
    text-indent: -10000px;
    margin-left: 15px;
}

.line {
/*    height: 1px;*/
/*    background-color: #a9bbb1;   */
    
}

.footer-social {
    width: 267px;    
    margin-left: 27px;
    margin-right: 133px;
    float:left;
}

.footer-social .btn-social {
    display: inline-block;
    min-height: 37px;
    min-width: 37px;  
}

.btn-social {
    text-indent: -1000px;
}

.btn-social-twitter {
    background: url(../img/social-twitter.svg) 3px 3px no-repeat; 
}

.btn-social-inst {
    background: url(../img/social-inst.svg) 3px 3px no-repeat; 
}

.btn-social-fb {
    background: url(../img/social-fb.svg) 3px 3px no-repeat; 
}

.btn-social-vk {
    background: url(../img/social-vk.svg) 3px 3px no-repeat; 
}

.main-footer {
    margin-top: 20px;
}

.footer-documentation {    
    width: 453px;    
    margin-right: 26px;
    float: left;
    display: relative;    
}

.footer-documentation a { 
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    width: 293px;
    margin-left: -4px;    
}

.footer-documentation a:nth-child(2n) {
    padding-left: 22px;
    width: 138px;
    
}

.footer-documentation .icon-heart {
    width: 15px;
    height: 13px;
    position: absolute;    
    background: url(../img/icon-heart.svg) no-repeat;
}

.footer-copyright {
    width: 267px;       
    margin-right: 27px;    
    float: right;
}

.footer-copyright .html-academy {
    padding-left: 79px;
    padding-right: 80px;
}

.footer-copyright .made {
    padding-left: 79px;    
}    


.footer-copyright a,.footer-copyright {
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
}